/* Style for root element */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  
}
/* Style for body */
body{
  display: grid;
  place-content: center;
  background-color: slategrey;
  height: 100vh;
  width: 100vh;
  font-size: 2rem;
}
/* Styles for main calculator container */
.container{
  height: 80vh;
  width: 50vh;
  background-color: cadetblue;
  place-content: center;
  border-radius: 2rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin-left: 110%;
}
/* Styles for result display part */
.screen{
  width: 100%;
  height: 15%;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;

}
/* Styles for input box where result show */
.input_box{
  
  width: 100%;
  height: 100%;
  font-size: 25px;
  outline: none;
  border: none;
  text-align: right;
  background-color: inherit;
  
}
/* STyles for button part */
.buttons{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: .2rem;
}
/* Styles for all buttons */
.btn{
  background-color: gray;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}
/* Styles for action button like add subtract multiply divide */
.orange{
  background-color: orange;
}
/* Styles for zero button */
.zero{
  grid-column: 1/ span 2;
}
/* Styles for button hover effect */
.btn:hover{
  background-color: pink;
  cursor: pointer;
}
.orange:hover{
  background-color: salmon;
}
/* Styles for responsibe for all screen */
/* @media only screen and (max-width: 689px)
{
  .container{
    margin-left:70%;
  }
}
@media only screen and (max-width: 580px)
{
  .container{
    margin-left:50%;
    margin-right: 20%;
  }
}
@media only screen and (max-width: 493px)
{
  .container{
    margin-left:20%;
    margin-right: 50%;
  }
}
@media only screen and (max-width: 407px)
{
  .container{
    margin-left:0;
    margin-right: 0;
  }
} */